*~
/apps/gain/ebin/gain.app
/apps/gain/.eunit/
*.beam
deps/
/reddit/affinities.clabel
/reddit/affinities.cm
/reddit/affinities.rlabel
reddit/*.bz2
reddit/*.dump
reddit/*.pig
reddit/*.pyc
reddit/*.r
rel/gain

